<!DOCTYPE html>
<head>
    <meta content="trms.html"
          http-equiv="content-type">
    <title>TRMS Page</title>

</head>
<style>
body {
  background-color: rgba(101, 60, 60, 0.3);
}

</style>

<body>

<div class="regform"></div>
<h2>TRMS Form</h2></body>
<div class="name">
</div>
<form action="/add/reim" method="POST">
    <div id="name">
        <h5>Employee Name</h5>
        <input class="employeename" type="text" name="employeename"><br>
        <h5>Reimbursement Form ID</h5>
        <input class="reimformid" type="number" name="reimformid"><br>
        <h5>Employee ID</h5>
        <input class="empid" type="number" name="empid"><br>
        <h5>EventType ID</h5>
        <input class="eventtypeid" type="number" name="eventtypeid"><br>

    </div>
    <h4 class="name">Email</h4>
    <input class="email" type="text" name="email">
    <h4 class="number">Employee ID</h4>
    <!--  <button onclick="get_emp_id()"> Employee</button>-->
    <button> Employee</button>

    <label for="empidInput">ID:</label>
    <input type="number" id="empidInput" value="1" min="1">
    <!--   <script>-->

    <!--    async function get_emp_id() {-->
    <!--    console.log("Getting Employee Details")-->
    <!--    const httpResponse = await fetch("http://127.0.0.1:5000/employees/1?format=json")-->
    <!--  }-->
    <!--   </script>-->


    <h4 class="name"> Event Type</h4>
    <select class="option" name=eventtype">
        <option disabled="disabled" selected="selected">--Choose Option</option>
        <option> Courses</option>
        <option> Seminars</option>
        <option> Certification Prep</option>
        <option> Certification</option>
        <option> Technical Training</option>
    </select>
    <h4 class="name"> Event Start Date</h4>
    <input type="date"/>
    <h4 id="approvals"> Approvals</h4>
    <label for="yes">Yes</label>
    <input type="radio" id="yes" value="true" name="approvals" checked>
    <label for="no">No</label>
    <input id="no" name="approvals" type="radio" value="false">
    <h4 class="name"> Approved By</h4>
    <select> class="option" name="approvedby"
        <option disabled="disabled" selected="selected">--Choose Option</option>
        <option> Approved By</option>
        <option> Supervisor</option>
        <option> Department Head</option>
        <option> Benco</option>
        <label for="amount">Amount (between 0 and 1000):</label>
        <input id="amount" max="1000" min="0" name="amount" type="number">

    </select>

    <button type="submit">Add</button>
</form>


<!--<script>-->
<!--   async function addEmployee() {-->

<!--        console.log("Employee Added....")-->

<!--        const employeenameVal = document.getElementById("employeenameInput").value-->
<!--        const empidVal = document.getElementById("empidInput").value-->

<!--        let approvalsVal = false;-->

<!--        approvalsVal = document.querySelector('input[name="approvals"]:checked').value-->

<!--        console.log(employeenameVal)-->
<!--        console.log(empidVal)-->
<!--        console.log(approvalsVal)-->

<!--        const data = {-->
<!--            employeename: employeenameVal,-->
<!--            empid: empidVal,-->
<!--            approvals: approvalsVal-->
<!--        }-->

<!--        const url = "http://localhost:5000/employees"-->

<!--        const httpResponse = await fetch(url, {-->
<!--            method: "POST",-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            body: JSON.stringify(data)-->
<!--        });-->

<!--        const body = await httpResponse.json();-->

<!--        console.log(body);-->
<!--        if (body) {-->
<!--            alert("Employee Successfully Registered!")-->
<!--        } else {-->
<!--            alert("Employee Failed to be Registered.")-->
<!--        }-->

<!--    }-->
<!-- -->


<!--</script> -->
